@model GestionViager.Models.table_

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>table_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOMME___âge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOMME___âge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEMME___âge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEMME___âge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Espérance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Espérance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tx_rente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tx_rente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_us_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_us_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F14)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.int }) |
    @Html.ActionLink("Back to List", "Index")
</p>
